{#- ------------------------------------------------------------------------------------ -#}
{#-  GENERAL MACROS                                                                      -#}
{#- ------------------------------------------------------------------------------------ -#}

{%- macro makeList(list, strBefore, strAfter) -%}
  {%- set resultList = [] -%}
    {%- for item in list -%}
    {%- do resultList.append(strBefore+item+strAfter) -%}
    {%- endfor -%}
    {{resultList|join(", ") }}
{%- endmacro -%}

{#- ------------------------------------------------------------------------------------ -#}
{#- CHAPTER REPORT MACRO                                                                 -#}
{#- ------------------------------------------------------------------------------------ -#}

{%- macro renderChapterReport(chapterReport, index) -%}
report:chapterReport-{{chapterReport.chapterUuid}} a dsw:ChapterReportItem ;
  dsw:reportItemId "chapterReport-{{chapterReport.chapterUuid}}" ;
  dsw:isAboutChapter km:{{chapterReport.chapterUuid}} ;
  {%- if chapterReport.metrics %}
  dsw:hasResult
  {%- for metric in chapterReport.metrics %}
    [ a dsw:ReportMetric ;
      dsw:resultMeasure "{{metric.measure}}"^^xsd:float ;
      dsw:hasMetric km:{{metric.metric}} ]
      {%- if not loop.last -%} ,
      {%- elif chapterReport.indications -%} ;
      {%- else -%} .
      {%- endif -%}
  {%- endfor -%}
  {%- endif -%}

{%- if chapterReport.indications %}
  dsw:hasIndication
  {%- for indication in chapterReport.indications %}
    [ a dsw:ReportIndication ;
      dsw:indicationType "{{indication.indicationType}}" ;
      dsw:answered "{{indication.answeredQuestions}}"^^xsd:integer ;
      dsw:unanswered "{{indication.unansweredQuestions}}"^^xsd:integer ]
      {%- if not loop.last -%} ,
      {%- else -%} .
      {%- endif -%}
  {%- endfor -%}
{%- endif -%}
{%- endmacro -%}

{#- ------------------------------------------------------------------------------------ -#}
{#-  DOCUMENT                                                                            -#}
{#- ------------------------------------------------------------------------------------  #}

document:{{ctx.uuid}} a dsw:Document ;
  dsw:uuid "{{ctx.uuid}}" ;
  dsw:createdAt "{{ctx.createdAt}}"^^xsd:dateTime ;
  dsw:updatedAt "{{ctx.updatedAt}}"^^xsd:dateTime ;
  dsw:hasKnowledgeModel km:{{ctx.knowledgeModel.uuid}} ;
  dsw:hasOrganization organization:{{ctx.organization.organizationId}} ;
  dsw:hasContextConfig ctxConfig:contextConfig ;
  dsw:hasQuestionnaire questionnaire:{{ctx.questionnaireUuid}} ;
  dsw:hasReport report:{{ctx.report.uuid}} .

{#- ------------------------------------------------------------------------------------ -#}
{#-  ORGANIZATION                                                                        -#}
{#- ------------------------------------------------------------------------------------ #}

organization:{{ctx.organization.organizationId}} a dsw:Organization ;
  dsw:organizationId "{{ctx.organization.organizationId}}" ;
  dsw:title {{ctx.organization.name|tojson}} ;
  dsw:description {{ctx.organization.description|tojson}} 
  {%- set affiliations = makeList(ctx.organization.affiliations, '"', '"') -%}
  {%- if affiliations|length > 0 %} ;
  dsw:affiliation {{ affiliations.split(',')|join(", ")}}
  {%- endif -%} .
  
{#- ------------------------------------------------------------------------------------ -#}
{#-  CONTEXT CONFIG                                                                      -#}
{#- ------------------------------------------------------------------------------------ #}

ctxConfig:contextConfig a dsw:ContextConfig ;
  dsw:clientUrl "{{ctx.config.clientUrl}}"^^schema:URL ;
  dsw:documentTemplateMetamodelVersion "{{ctx.documentTemplateMetamodelVersion}}"^^xsd:integer .
{#- ------------------------------------------------------------------------------------ -#}
{#-  REPORT                                                                              -#}
{#- ------------------------------------------------------------------------------------ #}

report:{{ctx.report.uuid}} a dsw:Report ;
  dsw:uuid "{{ctx.report.uuid}}" ;
  dsw:hasTotalReport report:totalReport ;

  {%- if ctx.report.chapterReports|length > 0 -%}
  {%- set chapterReports = [] -%}
  {%- for chapterReport in ctx.report.chapterReports -%}
  {%- do chapterReports.append("report:chapterReport-"+chapterReport.chapterUuid) -%}
  {%- endfor %}
  dsw:hasChapterReport {{chapterReports|join(", ")}} ;
  {%- endif %}
  dsw:createdAt "{{ctx.report.createdAt}}"^^xsd:dateTime ;
  dsw:updatedAt "{{ctx.report.updatedAt}}"^^xsd:dateTime .

{#- ------------------------------------------------------------------------------------ -#}
{#-  TOTAL REPORT                                                                        -#}
{#- ------------------------------------------------------------------------------------ #}

report:totalReport a dsw:TotalReportItem ;
  dsw:reportItemId "totalReport" ;
{%- if ctx.report.totalReport.metrics  %}
  dsw:hasResult
  {%- for metric in ctx.report.totalReport.metrics %}
    [ a dsw:ReportMetric ;
      dsw:resultMeasure "{{metric.measure}}"^^xsd:float ;
      dsw:hasMetric km:{{metric.metric}} ] 
      {%- if not loop.last -%} ,
      {%- elif ctx.report.totalReport.indications -%} ;
      {%- else -%} .
      {%- endif -%}
  {% endfor -%}
{%- endif -%}

{%- if ctx.report.totalReport.indications %}
  dsw:hasIndication
  {%- for indication in ctx.report.totalReport.indications %}
    [ a dsw:ReportIndication ;
      dsw:indicationType "{{indication.indicationType}}" ;
      dsw:answered "{{indication.answeredQuestions}}"^^xsd:integer ;
      dsw:unanswered "{{indication.unansweredQuestions}}"^^xsd:integer ]
      {%- if not loop.last -%} ,
      {%- else -%} .
      {%- endif -%}
  {%- endfor -%}
{%- endif -%}

{#- ------------------------------------------------------------------------------------ -#}
{#-  CHAPTER REPORT                                                                      -#}
{#- ------------------------------------------------------------------------------------ #}

{%- for chapterReport in ctx.report.chapterReports %}

{{ renderChapterReport(chapterReport, loop.index) }}
{% endfor %}
