{#- ------------------------------------------------------------------------------------ -#}
{#-  GENERAL MACROS                                                                      -#}
{#- ------------------------------------------------------------------------------------ -#}

{%- macro makeList(list, strBefore, strAfter) -%}
  {%- set resultList = [] -%}
    {%- for item in list -%}
    {%- do resultList.append(strBefore+item+strAfter) -%}
    {%- endfor -%}
    {{resultList|join(", ") }}
{%- endmacro -%}

{#- ------------------------------------------------------------------------------------ -#}
{#-  QUESTIONNAIRE VERSION MACRO                                                         -#}
{#- ------------------------------------------------------------------------------------ -#}

{%- macro renderQuestionnaireVersion(version, index) -%}
questionnaireVersion:{{version.uuid}} a dsw:QuestionnaireVersion ;
  dsw:uuid "{{version.uuid}}" ;
  dsw:eventUuid "{{version.eventUuid}}" ;
  dsw:title {{version.name|tojson}} ;
  {%- if version.description %}
  dsw:description {{version.description|tojson}} ;
  {%- endif %}
  {%- if version.createdBy.uuid %}
  dsw:isCreatedBy user:{{version.createdBy.uuid}} ;
  {%- endif %}
  dsw:createdAt "{{version.createdAt}}"^^xsd:dateTime ;
  dsw:updatedAt "{{version.updatedAt}}"^^xsd:dateTime .
{%- endmacro -%}

{# ------------------------------------------------------------------------------------ #}
{#  REPLY MACROS                                                                        #}
{# ------------------------------------------------------------------------------------ #}

{%- macro renderReply(replyPath, reply) -%}
  dsw:createdAt "{{reply.createdAt}}"^^xsd:dateTime ;
  {%- if reply.createdBy.uuid %}
  dsw:isCreatedBy user:{{reply.createdBy.uuid}} ;
  {%- endif %}
 {%- set listOfUuids = replyPath.split('.') %}
  dsw:isReplyTo km:{{listOfUuids|last}} ;
{%- endmacro -%}

{%- macro renderStringReply(replyPath, reply, index) -%}
reply:{{replyPath}} a dsw:ValueReply ;
  dsw:path "{{replyPath}}" ;
  {{ renderReply(replyPath, reply) }}
  {%- do simpleAuthors.update({ reply.createdBy.uuid : reply.createdBy}) -%}
  {%- set listOfUuids = replyPath.split('.') %}
  {%- set questionUuid = listOfUuids|last -%}
  {%- set type = ctx.knowledgeModel.entities.questions[questionUuid].valueType -%} 

  {%- if type == "UrlQuestionValueType" %}
  dsw:urlReplyValue <{{reply.value.value}}> ;

  {%- elif type == "StringQuestionValueType" or type == "TextQuestionValueType" or type == "EmailQuestionValueType" or type == "ColorQuestionValueType"%}
  dsw:replyValue {{reply.value.value|tojson}} 

  {%- elif type == "NumberQuestionValueType" %}
  dsw:numberReplyValue  "{{reply.value.value}}"^^xsd:float ;

  {%- elif type == "DateQuestionValueType" %}
  dsw:dateReplyValue  "{{reply.value.value}}"^^xsd:date ;

  {%- elif type == "DateTimeQuestionValueType" %}
  dsw:dateTimeReplyValue  "{{reply.value.value}}"^^xsd:dateTime ;

  {%- elif type == "TimeQuestionValueType" %}
  dsw:timeReplyValue  "{{reply.value.value}}"^^xsd:time ;
  {%- endif %} .
{%- endmacro -%}

{%- macro renderItemListReply(replyPath, reply, index) -%}
reply:{{replyPath}} a dsw:ItemListReply ;
  dsw:path "{{replyPath}}" ;
  {{ renderReply(replyPath, reply) }}

  {%- set replies = makeList(reply.value.value, '"', '"') -%}
  {%- if replies|length > 0 %}
  dsw:replyValue {{ replies.split(',')|join(", ")}} .
  
  {%- do simpleAuthors.update({ reply.createdBy.uuid: reply.createdBy}) -%}
  {%- endif -%}

{%- endmacro -%}

{%- macro renderIntegrationReply(replyPath, reply, index) -%}
{%- if reply.value.value.type == "IntegrationType" -%}
    {%- set listOfUuids = replyPath.split('.') -%}
    {%- set questionId = listOfUuids|last -%}
    {%- set integrationId = ctx.knowledgeModel.entities.questions[questionId].integrationUuid -%}
    {%- set integration = ctx.knowledgeModel.entities.integrations[integrationId] -%}
reply:{{replyPath}} a dsw:IntegrationTypeIntegrationReply ;
  dsw:path "{{replyPath}}" ;
  dsw:integrationReplyValue "{{integration.itemUrl | replace("${id}", reply.value.value.id )}}"^^schema:URL ;
  dsw:integrationReplyItem "{{reply.value.value.id}}" ;
{%- endif -%}

{%- if reply.value.value.type == "PlainType" -%}
reply:{{replyPath}} a dsw:PlainTypeIntegrationReply ;
  dsw:path "{{replyPath}}" ;
{%- endif %}
  {{ renderReply(replyPath, reply) }}
  dsw:replyValue {{reply.value.value.value|tojson}} .
  {%- do simpleAuthors.update({ reply.createdBy.uuid: reply.createdBy}) -%}
{%- endmacro -%}

{%- macro renderMultiChoiceReply(replyPath, reply, index) -%}
reply:{{replyPath}} a dsw:MultiChoiceReply ;
  dsw:path "{{replyPath}}" ;
  {{ renderReply(replyPath, reply) }}
  
  {%- set choicesUuidPrefix = makeList(reply.value.value, "km:", "") -%}
  {%- set choicesUuid = makeList(reply.value.value, '"', '"') -%}
  {%- if choicesUuidPrefix|length > 0 %}
  dsw:multiChoiceReplyValue {{ choicesUuidPrefix.split(',')|join(", ")}} ;
  dsw:replyValue {{choicesUuid.split(',')|join(", ")}} .

  {%- endif-%}
  {%- do simpleAuthors.update({ reply.createdBy.uuid: reply.createdBy}) -%}
{%- endmacro -%}

{%- macro renderAnswerReply(replyPath, reply, index) -%}
reply:{{replyPath}} a dsw:AnswerReply ;
  {{ renderReply(replyPath, reply) }}
  {%- if reply.value.value -%}
  dsw:replyValue "{{reply.value.value}}" ;
  dsw:answerReplyValue km:{{reply.value.value}} ;
  {%- endif %}
  dsw:path "{{replyPath}}" .
  {%- do simpleAuthors.update({ reply.createdBy.uuid: reply.createdBy}) -%}
{%- endmacro -%}

{#- ------------------------------------------------------------------------------------ -#}
{#-  QUESTIONNAIRE                                                                       -#}
{#- ------------------------------------------------------------------------------------ -#}

questionnaire:{{ctx.questionnaireUuid}} a dsw:Questionnaire ;
  dsw:uuid "{{ctx.questionnaireUuid}}" ;
  dsw:title {{ctx.questionnaireName|tojson}} ;
  {%- if ctx.questionnaireDescription -%}
  dsw:description {{ctx.questionnaireDescription|tojson}} ;
  {%- endif -%}
  {%- set projectTags = makeList(ctx.questionnaireProjectTags, '"','"') -%}
  {%- if projectTags|length > 0 %}
  dsw:hasProjectTag {{ projectTags.split(',')|join(", ")}} ;
  {%- endif %}
  dsw:hasCurrentVersion questionnaireVersion:{{ctx.questionnaireVersion}} ;

  {%- if ctx.questionnaireVersions|length > 0 -%}
  {%- set versions = [] -%}
  {%- for version in ctx.questionnaireVersions -%}
  {%- do versions.append("questionnaireVersion:"+version.uuid) -%}
  {%- endfor %}
  dsw:hasVersion {{versions|join(", ")}} ;
  {%- endif %}
  dsw:hasPhase km:{{ctx.phaseUuid}} ;
  dsw:hasDocument document:{{ctx.uuid}} ;
  {%- if ctx.createdBy.uuid %}
  dsw:isCreatedBy user:{{ctx.createdBy.uuid}} ;
  {%- endif %}
  dsw:usesKnowledgeModel km:{{ ctx.knowledgeModel.uuid }} .

{#- ------------------------------------------------------------------------------------ -#}
{#-  QUESTIONNAIRE VERSION                                                               -#}
{#- ------------------------------------------------------------------------------------ #}

{%- if ctx.questionnaireVersions|length > 0 %}
  {%- for version in ctx.questionnaireVersions %}
  
{{ renderQuestionnaireVersion(version, loop.index) }}
  {%- endfor -%}
  {%- endif -%}

{#- ------------------------------------------------------------------------------------ -#}
{#-  REPLY                                                                               -#}
{#- ------------------------------------------------------------------------------------ -#}

{%- set simpleAuthors = {} -%}

{%- for replyPath in ctx.questionnaireReplies -%}
  
  {%- set reply = ctx.questionnaireReplies[replyPath] -%}
  {%- if reply.value.type == "StringReply" %}

  {{renderStringReply(replyPath, reply, loop.index)}}

  {%- elif reply.value.type == "ItemListReply"%}

  {{renderItemListReply(replyPath, reply, loop.index)}}

  {%- elif reply.value.type == "IntegrationReply"%}

  {{renderIntegrationReply(replyPath, reply, loop.index)}}

  {%- elif reply.value.type == "MultiChoiceReply"%}

  {{renderMultiChoiceReply(replyPath, reply,loop.index)}}

  {%- elif reply.value.type == "AnswerReply"%}

  {{renderAnswerReply(replyPath, reply, loop.index)}}

  {%- endif %}
{%- endfor %}
