{#- ------------------------------------------------------------------------------------ -#}
{#-  INCLUDE PREFIXES                                                                    -#}
{#- ------------------------------------------------------------------------------------ -#}

{%- include 'src/prefixes.ttl.j2' -%}

{#- ------------------------------------------------------------------------------------ -#}
{#-  INCLUDE MACROS                                                                    -#}
{#- ------------------------------------------------------------------------------------ -#}

{%- include 'src/macros/macro-context.ttl.j2' -%}

{%- include 'src/macros/macro-knowledge-model.ttl.j2' -%}

{%- include 'src/macros/macro-questionnaire-replies.ttl.j2' -%}
