@prefix dsw: <https://ontology.ds-wizard.org/dsw-ontology#> .
@prefix xsd: <http://www.w3.org/2001/XMLSchema> .
@prefix schema: <https://schema.org/> .
@prefix km: <{{ ctx.config.clientUrl }}/knowledge-models/{{ ctx.package.id }}/> .
@prefix user: <{{ ctx.config.clientUrl }}/users/> .
@prefix organization: <{{ ctx.config.clientUrl }}/organizations/> . 
@prefix report: <{{ ctx.config.clientUrl }}/projects/{{ctx.questionnaireUuid}}/metrics/> .
@prefix package: <{{ ctx.config.clientUrl }}/knowledge-models/> .
@prefix document: <{{ ctx.config.clientUrl }}/documents/> .
@prefix questionnaire: <{{ ctx.config.clientUrl }}/projects/> .
@prefix questionnaireVersion: <{{ ctx.config.clientUrl }}/projects/{{ctx.questionnaireUuid}}/versions/> .
@prefix reply: <{{ctx.config.clientUrl}}/projects/{{ctx.questionnaireUuid}}?questionPath=> .
@prefix ctxConfig: <{{ ctx.config.clientUrl }}/contextConfig> .
